html {
    background-color: black;
    background-image: url("../images/001043990007.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    margin:20px;
    border: 0.5px solid #9c9b9b;
}

button {
    border: none;
    background-color: inherit;
}

.card {
    background-color:white;
    border: none;

    width: 500px;
    height: 650px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    border-radius: 25px;
    text-align: center;

    -webkit-box-shadow: 1px -2px 21px -2px rgba(255,255,255,1);
    -moz-box-shadow: 1px -2px 21px -2px rgba(255,255,255,1);
    box-shadow: 1px -2px 21px -2px rgba(255,255,255,1);   
}

.inner-card {
    margin:  0 55px 0 55px;;
}

.inner-card #profile-img {
    border-radius: 50%;
    object-fit: cover;
    width: 110px;
    height: 110px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.inner-card #section-title p{
    font-size: small;
}

.resume button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    margin: 0;
}

.resume img {
    padding-right: 6px;
}

#section-body p {
    margin-top: 10px;
    text-align: justify;
    font-size: small;
}

#section-skills > div:first-of-type {
    margin: 10px 30px 0 30px;
}

#section-social > div:first-of-type {
    margin: 10px 80px 0 80px
}

#section-social img {
    height: 25px;
}